body{
    background-image: url("402fd3c96bcadd0.png");
    background-size: auto;
}

.welcome{
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: fit-content;
    padding: 3px;
    border: dotted 2px black;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.welcome:hover{
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 2;
}

.projects{
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    width: fit-content;
    padding: 3px;
    border: dotted 2px black;
    border-radius: 16px;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.projects:hover{
    transform: translate(-50%, -50%) scale(1.1);
    z-index: 2;
}

#text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aqua;
    margin: 5px;
}
